<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">In-App-Browser
      </div>
      <div class="item item-body">
        <a class="item" href="#" onclick="window.open('https://github.com/78lab/ionic-starter-kit', '_self', 'location=yes'); return false;">
            Open with _self
        </a>
        <a class="item" href="#" onclick="window.open('https://github.com/78lab/ionic-starter-kit', '_blank', 'location=yes'); return false;">
            Open with _blank
        </a>
        <a class="item" href="#" onclick="window.open('https://github.com/78lab/ionic-starter-kit', '_system', 'location=yes'); return false;">
            Open with _system
        </a>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Ionic Deploy</div>
      <div class="item item-body">
        <div>
          <button class="button button-primary button-block " ng-click="checkForUpdates()">
            Check for updates
          </button>

          <button class="button button-stable button-block button-pulse" ng-if="hasUpdate" ng-click="doUpdate()">
            Download update
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
